

/* Mobile-First Responsive Method */


/* Tablet */

/* Desktop */
@media screen and (min-width:992px){
    .container{
        max-width:1000px;
    }

    .right-header{
        display:flex;
        align-items:center;
    }

    .hamburger{
        display:none;
    }
}

@media screen and (max-width:991px) {
    .hamburger{
        display:block;
    }
}




