
/* Debug */

/* *{
    outline:1px solid pink;
} */

/* Reset */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: "PT Sans", sans-serif;
    font-style:normal;
    outline:5px dashed red;
}

html a{
    text-decoration:none;
    color:white;
}

html img {
    max-width:100%;
}

/* Palette */

.blue-bg{
    background-color: #0084FD;
}

.blue-color{
    color:#0084FD;
}

.light-blue-bg{
    background-color: #B5DDFF;
}

.white-bg{
    background-color: white;
}

/* General Rules */

.button {
    border-radius:20px;
    color: black;
    padding:5px 15px;
}

.flex{
    display:flex;
}

.wrap{
    flex-wrap:wrap;
}

.space-between{
    justify-content: space-between;
}

.container{
    width:100%;
    margin: 0 auto;
    padding:0 10px;
}


/* Header */

header{
    padding:15px 0;
}

.right-header{
    display:none;
}

.hamburger{
    display:none;
    font-size:30px;
    color:white;
    padding:0 15px;
}

.right-header ul{
    list-style-type: none;

}

.right-header ul li{
    margin:0 10px;
}

/* Main */

main .container > .my-row{
    margin:50px 0;
}

.my-col{
    border-radius:20px;
}

.my-col > .card{
    padding:30px;
    padding-bottom:0;
}

.card-image > img {
    width:90%;
    display:block;
}

.card-description > div > a{
    color:white;
    letter-spacing:5px;
    font-weight:bold;
    padding:10px 25px;
}

.card-description > p {
    color:#5D7183;
    font-weight:bold;
}

.card > h2 {
    font-weight:bold;
    margin-bottom:30px;
}

.card-image img{
    position:relative;
    top:2px;
}