
/* Debug */

*{
    outline:1px solid pink;
}

/* Reset */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: "PT Sans", sans-serif;
    font-style:normal;
    outline:5px dashed red;
}

html a{
    text-decoration:none;
    color:white;
}

/* Palette */

.blue-bg{
    background-color: #0084FD;
}

.blue-color{
    color:#0084FD;
}

.light-blue-bg{
    background-color: #B5DDFF;
}

.white-bg{
    background-color: white;
}

/* General Rules */

.button {
    border-radius:20px;
    color: black;
    padding:5px 15px;
}

.flex{
    display:flex;
}

.wrap{
    flex-wrap:wrap;
}

.space-between{
    justify-content: space-between;
}

.container{
    width:100%;
    margin: 0 auto;
}

/* Header */

header{
    padding:15px 15px;
}

.right-header{
    display:none;
}

.hamburger{
    display:none;
    font-size:30px;
    color:white;
    padding:0 15px;
}

.right-header ul{
    list-style-type: none;

}

.right-header ul li{
    margin:0 10px;
}

.my-col{
    min-height:100px;
}

